@tailwind base;

/* Write your own custom base styles here */
body {
  color: white;
  background-color: black;
}

.custom-underline {
  @apply relative font-bold;
  color: white !important;
  text-decoration: none !important;
}

.custom-underline:after {
  content: "";
  position: absolute;
  width: 105%;
  height: 12px;
  bottom: 0;
  left: -2.5%;
  background: #ffc400;
  z-index: -1;
  transform: rotate(-2deg);
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.custom-underline:after {
  background: #ffc400;
}

a.custom-underline:hover:after {
  height: 100%;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
